{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Hello " ~ name %}

{% block content %}
    <h1>Coucou {{ name }}!!!!</h1>
    <h1>Crepe</h1>
{% endblock %}

{% set code = code(_self) %}
