{% extends "FOSUserBundle::layout.html.twig" %}


{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


{% block title %}Mafia - Role{% endblock %}

{% block fos_user_content %}

    <h3>Création d'un role</h3>

    <div class="well">
       {{ form(form) }}
    </div>
{% endblock %}