{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mafia - Vos messages{% endblock %}

{% block fos_user_content %}

    {% for key, messagesContact in messages %}
        <h2>{{ key }}</h2>
        {% for message in messagesContact %}
            <fieldset>
                {% if message.recepteur == app.user %}->{% else %}<-{% endif %} {{ message.texte }} - le {{ message.dateEnvoi | date }}
            </fieldset>
        {% endfor %}
    {% endfor %}

{% endblock fos_user_content %}
