{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}Mafia - Paramètres{% endblock %}

{% block fos_user_content %}


    <a href="{{ path('liste_parametres') }}">Retour à la liste des paramètres</a>

    <div class="well">
        {{ form(form) }}
    </div>

{% endblock %}