{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mafia - Jouer{% endblock %}

{% block fos_user_content %}

    <a href="{{ path('jouer_classique') }}"><h2>Partie classique</h2></a>

    <a href="{{ path('jouer_test') }}"><h2>Partie test (3 joueurs)</h2></a>
{% endblock %}