{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mafia - Jouer{% endblock %}

{% block fos_user_content %}

    <h2>Rejoindre/créer une partie</h2>

    <div class="table">
        <p class="jouer_choix_param">Choix paramètres</p>
        <p class="jouer_choix_compo">Choix composition</p>
    </div>

    <div class="table">
        <p class="jouer_chat">Chat</p>
        <p class="jouer_user_connectes">Liste des joueurs connectés</p>
    </div>

{% endblock %}