{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}Mafia - Modération{% endblock %}

{% block fos_user_content %}
    {% if is_granted("ROLE_MODERATEUR") %}
        <h2>Tableau de modération</h2>

        <a href="{{ path('bannissements') }}">Voir bannissements</a>
        <a href="{{ path('requetes_ouvertes') }}" >Voir requêtes</a>
        Voir dénonciations


    {% endif %}
{% endblock %}