{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}Mafia - Modération{% endblock %}

{% block fos_user_content %}
    {% if is_granted("ROLE_MODERATEUR") %}
        <h2>Tableau de modération</h2>

        <a href="{{ path('bannissements') }}">Voir bannissements</a>
        <a href="{{ path('requetes_ouvertes') }}" >Voir requêtes</a>
        Voir dénonciations

        <div class="derniersBans">
            <h2>Derniers bans</h2>
            {% for ban in derniersBans %}
                {% include 'MafiaModerationBundle:Templates:bannissement.html.twig' with {'ban' : ban}  %}
            {% endfor %}
        </div>
        <div class="surveillances">
            <h2>Surveillances</h2>
            {% for surveillance in surveillances %}
                {% include 'MafiaModerationBundle:Templates:surveillance.html.twig' with {'surveillance' : surveillance}  %}
            {% endfor %}
        </div>

    {% endif %}
{% endblock %}