body{
    width: 1000px;
    margin: 0 auto 0 auto;

    background-color: lightblue;
}

section{
    background-color: #ffffff;
    padding: 50px 10px 50px 10px;

}

nav{
    border: solid #000000 1px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

nav a{
    margin-right: 10px;
}

.valeur{
    border: solid 1px #000000;
    vertical-align: middle;
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

.table{
    display: table;
}
.table-cell{
    display: table-cell;
}

.jouer_chat{
    display: table-cell;
    border: solid green 1px;
    border-radius: 5px;
    width: 600px;
    padding: 5px;
    height: 300px;

}

.jouer_user_connectes{
    display: table-cell;
    border: solid blue 1px;
    border-radius: 5px;
    padding: 5px;
}

.jouer_choix_compo{
    display: table-cell;
    border: solid violet 1px;
    border-radius: 5px;
    padding: 5px;
}

.jouer_choix_param{
    display: table-cell;
    border: solid red 1px;
    border-radius: 5px;
    padding: 5px;
}